@page
@using StudentskiDogodki.Pages
@model StudentskiDogodki.Pages.IskanjeDogodkov
@{
    ViewData["Title"] = "Iskani dogodek";
}

@if (PrijavnoOkno.prijavljen == true)
{
    <div align="right">
        <img src="/Slike/User.png" height="30">
    </div>

}
<div class="text-center">
    <h2>@ViewData["Title"]</h2>

    <form>
        <label for="iskalnoPolje">Iskalno polje:</label>
        <input type="text" id="iskalnoPolje" name="iskalnoPolje" placeholder="Rocktronica"/>
       
    </form>

    <hr />

    <h3>Seznam Dogodkov</h3>
    <table align="center">
        @foreach (var dogodek in Model.seznamDogodkov)
        {
            <tr>
                <td>
                    
                        <div>
                            @if (dogodek.Ime == "Rocktronica")
                        {
                            <form method="post">
                                <button type="submit">
                                <p><b>Ime dogodka:</b> @dogodek.Ime</p>
                                <p>@dogodek.Datum.ToString("dd.MM.yyyy")</p>
                                <p><b>Lokacija: </b>@dogodek.Lokacija</p>
                                <p><img src=@dogodek.PotDoNaslovnce height="100" width="160"/></p>
                                </button>
                                </form>
                            }
                        </div>
                    
                </td>
            </tr>
        }
    </table>


</div>

