@page
@model StudentskiDogodki.Pages.PotrjenNakup
@{
    ViewData["Title"] = "Potrjen nakup";
}
@if (PrijavnoOkno.prijavljen == true)
{
    <div align="right">
        <img src="/Slike/User.png" height="30">
    </div>

}
<div align="center">
    <h1>Nakup uspešno opravljen</h1>

<img src="/Slike/Potrjeno.png" height="750" />
</div>